html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

*{
    box-sizing: border-box;
}

main{
    display: grid;
    height: 100vh;
    gap: 1rem;
    padding: 1rem;
    /*auto-fit and minmax creates a responsive grid where each element takes up atleast the minimum parameter*/
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr) );
    /* Template columns can also be pixel-perfect */
    grid-template-columns: 40px 120px 76px 45px 200px 1fr;
    justify-content: space-between;
    /* Use fractions when you want to define your wireframe */
    grid-template-columns: 2fr 4fr 6fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 4fr 4fr 4fr 6fr 1fr;
}

main .section{
    background-color: rgb(188, 10, 238);
    place-items: center;
    display: grid;
    font-size: 1.6rem;
}

.section:first-of-type{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.section:nth-of-type(10){
    grid-row: 3 / 7;
    content: url('./about_the_book.png');
    object-fit: contain;
    max-width: 100%;
    min-width: 100%;
}

.section:nth-of-type(5n){
    background-color: blue;
    background-image: url('./about_the_book.png');
}

.section:nth-of-type(2n) {
    background-image: url('./about_the_book.png');
}

.section:nth-of-type(odd) {
    background-image: url('./about_the_book.png');
}

.fullpage{
    width: 100vw;
    height: 100vw;
    display: grid;
    height: 100vh;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr) );
    grid-template-columns: 40px 120px 76px 45px 200px 1fr;
    justify-content: space-between;
    grid-template-columns: 2fr 4fr 6fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 4fr 4fr 4fr 6fr 1fr;
        grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.fullpage div{
    background-color: cornsilk;
}

.fullpage div:nth-of-type(even){
    background:url('./about_the_book.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}
